.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

div {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.git{
    text-decoration: underline;
    text-decoration-style: wavy;
}
.version{
    text-decoration: underline;
    text-decoration-style: wavy;
}
 div h1 {
    color: white;
    font-size: 34px;
    text-decoration: underline;
    font-family: helvetica;
    font-style: oblique;
  }
 div dl {
    color: white;
  }
 div p {
    color: white;
  }
 div ul {
    color: rgb(255, 0, 21);
  }
  h2{
    color: maroon;
    text-decoration: aqua;
  }


.mercyh3{
font-family: Arial, Helvetica, sans-serif; 
font-size: medium;
color: rgba(0, 155, 80, 1);
font-weight: 690;
text-decoration: underline;

}
.mercyp{
    text-align: center;
    color: black;
    text-transform:calc();
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5;

}
 dl.span dt{
    text-align: justify;
    text-shadow: 0ch;
    text-overflow: ellipsis;
    color: #444;
}
dl.span dt.meta {
    h1 {
  font-size: 32px;
  color: darkblue;
  text-align: center;
  margin-left: 1em;
}

dl.span dt.alpha {
  font-family: 'Georgia', serif;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  text-align: justify;
  text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.8);
}

}

#branches {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

    
}
#branches h2{
     font-weight: bolder;
     font-size:large;
     
     
    
}
#branches h4{
    text-decoration: underline;
    color: rgb(5, 4, 78);
}
#branches .light{
    background-color: rgb(69, 63, 63);
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 4px;
    border: 2px solid;
    border-radius: 8px;
    display: inline;
    color: rgb(101, 252, 111);
    
    
}
#branches .it{
    height: 200px;
    width: 100%;
    background-size: 200px 150px;
    background-image:url(./assets/robot.webp);
    background-repeat: no-repeat;
    background-position: top left;
   color:rgb(5, 4, 78);

   

}
#branches .list{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;

}